@import 'nib'

*
	margin 0
	padding 0

html,body
	min-height 100%
	
body
	background url(../img/back.jpg)
	background-position center center
	overflow hidden
	color white
.row
	padding-top 10px
.btn
	width 5em

textarea.form-control
	height 80px
	
p.output
	width 200px
	height 80px
	border-radius 5px
	background #FFF
	padding 0px 10px
	overflow auto
	color black